<div class="jumbotron">
    <h1>ThomasGreg API</h1>
    <p class="lead">Obrigado pela oportunidade, espero que a API forneça uma experiência agradável.</p>
    <br />
    <p class="lead">A aplicação e o banco de dados estão hospedados na plataforma Azure e estão disponíveis em produção.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Aplicação</h2>
        <p>
            Busquei implementar o máximo de tecnologia e conhecimento, observado o prazo de entrega de 2 (dois) dias. A aplicação conta com orientação a objeto, injeção de dependência e DDD classic. Tenho ciência de que o projeto carece de validações e tratativas de erros, estes que, eventualmente, poderiam ser suprimidos com a demanda de mais tempo. A autenticação foi feita através de Headers, visto que um token OAuth2 em boas práticas demandaria mais tempo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Banco de Dados</h2>
        <p>
            Inicialmente utilizaria EF - Entity framework. No entanto, considerando que foi solicitado o uso de procedures, reconheci que havia a possibilidade da a aplicação pesar em demasia, não compensando com os ganhos, haja vista, ainda, que não teria relacionamento de tabelas. Sendo assim, optei pela tecnologia ADO.NET. O arquivo do banco está no GitHub.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Considerações Finais</h2>
        <p>Agradeço novamente pela oportunidade, foi enriquecedor participar dessa seleção.</p>
    </div>
</div>
